*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    text-align: center;
    background: #212121;
    color: #fff;
    padding: 10px 0;
    margin-bottom: 20px;
}

.container {
    background: rgb(100, 100, 247);
    color: #fff;
    max-width: 700px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

section{
    border: 2px solid #969393e5;
    padding: 10px;
    margin: 10px 0;
}


label{
    display: block;
    padding: 7px;
    cursor: pointer;
    border: 1px dashed gray;
    margin-top:  3px;
}

label:hover{
    color: rgb(108, 155, 224);
}

button{
   width: 80%;
   display: block;
   margin: auto;
   padding: 10px;
   background-color: aqua;
   border: none;
   cursor: pointer;
   border-radius: 20px;
}

button:hover{
    background: azure;
}

h2 {
    text-align: center;
}

#resultado{
    font-size: 30px;
    color: green;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    section {
        padding: 10px;
    }
}
